* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--bg-main);
    color: var(--text-main);
}


/* =========================
   Layout
========================= */

.admin-container {
    display: flex;
    min-height: 100vh;

    background: var(--bg-primary);
}

.admin-aside {
    width: 240px;
    flex-shrink: 0;

    padding: 2rem 1.5rem;

    background: var(--bg-primary);


}

.admin-content {
    flex: 1;

    padding: 2rem;

    background: var(--bg-secondary);
}

/* =========================
   Sidebar
========================= */
.admin-aside {
    width: 260px;
    background: var(--bg-sidebar);
    border-right: 1px solid var(--border);
    padding: 30px 20px;
}

.admin-aside h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.admin-aside ul {
    list-style: none;
}

.admin-aside li {
    margin-bottom: 12px;

}

.admin-aside a {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: var(--text-secondary);

    padding: 14px 16px;
    border-radius: 12px;

    transition: 0.3s;
}

.admin-aside a:hover {
    background: rgba(139, 92, 246, .15);
    color: white;
}

/* =====================================
   PAGE TITLES
===================================== */

h1 {
    font-size: 2.2rem;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 20px;
}

/* =====================================
   SEARCH
===================================== */

input[type="text"] {
    width: 320px;
    padding: 14px 16px;

    border: 1px solid var(--border);
    border-radius: 12px;

    background: var(--bg-card);
    color: white;

    margin-bottom: 25px;

    outline: none;
}




/* =========================
   Dashboard
========================= */

.dashboard-page h1 {
    color: var(--text-primary);

    margin-bottom: 2rem;

    font-size: 2.3rem;
}

/* Grid */

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

/* Cards */

.card {
    background: var(--bg-card);

    border-radius: 20px;
    padding: 25px;

    border: 1px solid var(--border);

    transition: .3s;
    text-decoration: none;
    color: var(--text-primary);

}

.card:hover {
    transform: translateY(-5px);
    background: var(--bg-card-hover);
}

.card h3 {
    margin-bottom: 12px;
}

.card p {
    color: var(--text-secondary);
}

.management-page {
    width: 100%;
}

.management-header h1 {
    color: var(--text-primary);
}

.table-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 16px;

}

.add-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 20px;

    border-radius: 12px;
    border: none;

    background: var(--primary);
    color: white;

    text-decoration: none;
    font-weight: 600;

    white-space: nowrap;

    transition: .3s;
}

.add-btn:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    box-shadow: none;
}

th {
    text-align: left;
}

.data-table th {
    background: rgba(255, 255, 255, .05);
    padding: 20px;
    white-space: nowrap;
}

.data-table td {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, .04);
    white-space: nowrap;
}

.data-table tr:hover {
    background: rgba(255, 255, 255, .03);
}

.edit-page {
    width: 100%;
}

.edit-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.floating-field,
.date-field {
    position: relative;
    width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
    display: block;
}

.date-picker-input {
    width: 100%;
    display: block;

    padding: 2px 18px 12px;

    background: var(--bg-card);

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 18px;

    color: white;
    font-size: 1rem;
}

.floating-field input,
.floating-field textarea,
.date-field-input {
    width: 100%;
    background: var(--bg-card);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 18px;
    color: white;
    padding: 24px 18px 12px;
    font-size: 1rem;
    transition: .3s;
}


.floating-field input:focus,
.floating-field textarea:focus,
.date-field-input:focus {
    outline: none;
}

.floating-field label,
.date-field label {
    position: absolute;
    left: 18px;
    top: 30%;

    transform: translateY(-50%);

    color: #94a3b8;

    transition: .25s;
}

.date-field:focus-within label,
.date-field.has-value label {

    top: 0;

    transform: translateY(-50%);

    font-size: .8rem;

    color: #8b5cf6;
}

.floating-field:focus-within label,
.floating-field input:not(:placeholder-shown)+label,
.floating-field textarea:not(:placeholder-shown)+label,
.date-field:focus-within label,
.date-field.has-value label {
    top: 0;

    transform: translateY(-50%);

    font-size: .8rem;

    color: var(--primary);

    background: var(--bg-secondary);
}

.textarea-field textarea {
    min-height: 220px;
    resize: vertical;
}

.featured-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--bg-card);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 18px;

    padding: 22px;
}

.featured-card h3 {
    margin-bottom: 4px;
}

.featured-card p {
    color: var(--text-secondary);
    font-size: .9rem;
}

.switch {
    position: relative;

    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;

    cursor: pointer;

    inset: 0;

    background: #334155;

    border-radius: 100px;

    transition: .3s;
}

.slider::before {
    content: "";

    position: absolute;

    width: 26px;
    height: 26px;

    left: 4px;
    top: 4px;

    background: white;

    border-radius: 50%;

    transition: .3s;
}

.switch input:checked+.slider {
    background: #8b5cf6;
}

.switch input:checked+.slider::before {
    transform: translateX(30px);
}

.save-all {
    min-width: 260px;
    height: 56px;

    border: none;

    border-radius: 16px;

    background: linear-gradient(135deg,
            #8b5cf6,
            #6d28d9);

    color: white;

    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;

    transition: .3s;
}

.save-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.save-all:hover {
    transform: translateY(-2px);

    box-shadow:
        0 10px 25px rgba(139, 92, 246, .35);
}

.edit-btn {
    width: 35px;
    height: 35px;

    border-radius: 10px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: var(--primary);
    color: white;

    text-decoration: none;

    transition: .3s;
}

.edit-btn:hover {
    background: var(--primary-hover);
    transform: scale(1.08);
}



.images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-bottom: 18px;
}

.image-card:hover {
    border-color: var(--primary);
}

.image-card {
     position: relative;
    background: var(--bg-card);
    border: 1px solid rgba(255, 255, 255, .08);
    min-height: 220px;
    border-radius: 20px;
    padding: 18px;

    display: flex;
    flex-direction: column;
    gap: 15px;

}




.member-preview {
    width: 100%;
    height: 280px;

    object-fit: cover;

    border-radius: 16px;
}

.image-placeholder {
    height: 180px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, .03);

    border-radius: 16px;

    color: var(--text-secondary);
}


.change-image-btn {
    position: absolute;
    bottom: 28px;
    right: 25px;
    margin-top: 16px;

    background: rgba(139, 92, 246, .95);

    color: white;
    font-weight: 500;

    padding: 12px 22px;
    align-self: center;

    border-radius: 12px;

    cursor: pointer;

    border: none;
}



.upload-status {
    color: #22c55e;
    font-size: .7rem;
}


/* =========================
   Pagination
========================= */
.table-container {
    background: var(--bg-card);

    border-radius: var(--radius);
    overflow: hidden;

    box-shadow: 0 15px 35px rgba(0, 0, 0, .25);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    padding: 16px 20px;

    border-top: 1px solid rgba(255, 255, 255, .05);

    background: rgba(255, 255, 255, .02);
}

.pagination button {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border);
    border-radius: 10px;

    background: var(--bg-secondary);
    color: var(--text-primary);

    cursor: pointer;
    transition: .2s;
}

.pagination button:hover:not(:disabled) {
    background: var(--primary);
    border-color: var(--primary);
}

.pagination button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.pagination-info {
    color: var(--text-secondary);
    font-size: .9rem;
    min-width: 60px;
    text-align: center;
}

.truncate-cell {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--text-secondary);
}

.action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete-btn {
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;

    background: #ef4444;
    color: white;

    cursor: pointer;
    transition: .2s;
}

.delete-btn:hover {
    background: #dc2626;
}

.rikumoti-toast {
    margin-top: 20px !important;

    border-radius: 18px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);

    padding: 15px 24px !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.rikumoti-toast-title {
    margin: 0 !important;

    font-size: 1rem !important;
    font-weight: 600 !important;

    text-align: center !important;
}

.swal2-toast .swal2-icon {
    display: none !important;
}

.swal2-container.swal2-top {
    padding-top: 20px !important;
}

.audio-upload-card {
    position: relative;
    background: var(--bg-card);

    border: 1px solid rgba(255,255,255,.08);
    border-radius: 20px;

    padding: 20px;
    margin-top: 120px;
}

.upload-btn {
    position: absolute;
    bottom: 28px;
    right: 25px;
    padding: 12px 20px;

    background: var(--primary);
    color: white;

    border-radius: 12px;
    cursor: pointer;
}

.audio-preview {
    width: 100%;
    margin-top: 20px;
}




























/* =====================================
   RESPONSIVE
===================================== */

@media (max-width: 900px) {

    .edit-grid {
        grid-template-columns: 1fr;
    }

    .save-all {
        grid-column: span 1;
    }

    .sidebar {
        width: 90px;
    }

    .sidebar h2 {
        display: none;
    }

    .main-content {
        padding: 20px;
    }

    input[type="text"] {
        width: 100%;
    }

    .table-toolbar {
        flex-direction: column;
        align-items: stretch;
    }

    .add-btn {
        width: 100%;
    }
}